@import "../../styleutils/mixins/buttonStyles";
@import "../../styleutils/mixins/headingStyles";
@import "../../styleutils/mixins/breakPoints";

.movieForm-page {
  margin-inline: 1rem;

  @include onTablet {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 70vh;
    max-width: 528px;
    width: 100%;
  }

  &__btn {
    @include nav-button;
  }

  &__title {
    @include h1-styles;
  }
}
