@import "../styleutils/mixins/buttonStyles";
@import '../styleutils/mixins/headingStyles';

.main-page {
  margin: 1rem;

  &__bttn {
    @include nav-button;
    margin-top: 16px;
  }

  &__title {
    @include h1-styles;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    box-sizing: border-box;
  }
}
