@import "../../styleutils/variables";

.ui-button {
  background: $main-background;
  border-radius: 0.5rem;

  height: 56px;
  width: 100%;
  max-width: 528px;

  color: $white-color;
  font-weight: 600;
  font-size: 16px;

  &--disabled {
    opacity: .5;
  }
}